/*
** For information on how to create your own theme, please see:
** http://ionicframework.com/docs/theming/
*/

/* Global Class */
*,
body {
  font-family: AvenirRegular;
}

/* Helper Class */
.text-center {
  text-align: center;
}

.my-font {
  font-family: AvenirRegular !important;
}

.my-btn ion-icon[slot="start"] {
  margin-inline-end: 0;
}

.mt-0 {
  margin-top: 0 !important;
}
